<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeskHub</title>
  <%- include("../../layout/linksPartial.ejs") %>
  <link rel="stylesheet" href="/styles/modules/generalSearches.css">
  <link rel="stylesheet" href="/styles/modules/stocks.css">

</head>

<body>
  <%- include("../../layout/header.ejs", {'index' : false}) %>

  <div id='wrapper'>
    <div class="center">
        <ul class="stockList">
          <li class="singleStock">

            <section class="stockLogo">
              <img src="<%= resultSuper.image %>" alt="Company Logo">
              <h1 class="logo"><%= resultSuper.companyName %></h1>
              <h1><%= resultSuper.symbol %></h1>
              <h3>Exchange: <%= resultSuper.exchangeShortName %></h3>
            </section>
            
            <section class="stockInfo">
              <h2>Price: <%= resultSuper.price %></h2>
              <h2>Range: <%= resultSuper.range %></h2>
              <br>
              <h4><%= resultSuper.description %></h4>
              <form action="/saveStock" method="POST">
                
                <input type="hidden" name="symbol" value="<%= resultSuper.symbol %> ">
                
                <button type="submit">Add to "Tracking List"</button>
                
              </form>
            </section>


            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div id="tradingview_c8cd5"></div>
              <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
                  rel="noopener" target="_blank"><span class="blue-text">Chart</span></a> by TradingView</div>
              <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
              <script type="text/javascript">
                new TradingView.widget(
                  {
                    "width": 500,
                    "height": 400,
                    "symbol": "<%= resultSuper.exchangeShortName%>:<%=resultSuper.symbol%>",
                    "interval": "D",
                    "timezone": "Etc/UTC",
                    "theme": "light",
                    "style": "1",
                    "locale": "en",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "allow_symbol_change": true,
                    "container_id": "tradingview_c8cd5"
                  }
                );
              </script>
            </div>
            <!-- TradingView Widget END -->
          </li>
        </ul>

      </section>

    </div>
  </div>
  <script src="/stocks.js"></script>
  <script src="/app.js"></script>
  <script src="/theme.js"></script>
</body>

</html>